<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.our</target>
        <encoder>
            <pattern>%-5level [%thread] %date{ISO8601} %file:%line %message%n</pattern>
        </encoder>
    </appender>

    <appender name="stdout_async" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="stdout"/>
    </appender>

    <!-- Make development logging verbose -->
    <logger name="com.github.seigert" level="debug"/>

    <root level="info">
        <appender-ref ref="stdout_async"/>
    </root>
</configuration>
